ion-header {
    ion-toolbar{
        --background: #e01515e0;
        --color: #fff;
    }
    ion-searchbar{
        margin-top: 10px;
        padding: 0px 10px;
    }
}

// medio - #ec6c00 | baixo - #ed951f | alto - #eb4b00

ion-content {
    margin: 0px 10px !important;
    border: solid 2px;
    box-sizing: border-box;
    width: auto !important;
    height: auto !important;
    border-image:(linear-gradient(to bottom, #ed951f,#eb4b00 100%)) 1 100%;

    div.selecionados{
        margin: 2px 8px 8px 8px;
    }
    ion-item{
        margin: 4px 8px;
        --border-radius: 0px;
        box-shadow: 0px;
        padding: 0px 10px 0px 10px;
        ion-label{
            color: #ec6c00;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

ion-footer {
    padding: 0px 10px 10px 10px;
    ion-toolbar{
        --background: #eb4b00;
        --color: #fff;
        border-radius: 0px 0px 10px 10px;
        font-weight: 600;
        text-transform: uppercase;
    }
}