<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Selecionar Ingredientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar  color="danger"></ion-searchbar>

  <ion-list lines="none">
    <ion-item text-center>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item text-center>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item text-center>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item text-center>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item text-center>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer>
  <ion-toolbar (click)="alerta()">
    <ion-title text-center>
      Buscar Receitas
    </ion-title>
  </ion-toolbar>
</ion-footer>