
ion-content {

    --background:#F09C63;


}

ion-footer {

    ion-toolbar{
        --background: #e01515e0;
        --color: #fff;
    }

}

ion-header {

    ion-toolbar{
        --background: #0dbb4fe0;
        --color: #fff;
    }

}

