ion-header {
    ion-toolbar{
        --background: #e01515e0;
        --color: #fff;
    }
    ion-buttons{
        ion-back-button{
            color:white ;
        }
    }

}

ion-content {
    --background:#ffffff;
    div.selecionados{
        margin: 2px 8px 8px 8px;
    }
    ion-item{
        margin: 4px 8px;
        --border-radius: 8px;
        --box-shadow: 0.1rem 0.1rem;
    }
    ion-col{
        text-overflow: ellipsis;
        white-space: pre-wrap;
        overflow: hidden;
        width:100px;
    }

}

ion-footer {
    ion-toolbar{
        --background: #e01515e0;
        --color: #fff;
    }
}

