<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="selecionar-ingredientes"></ion-back-button>
        </ion-buttons>
    <ion-title >O que você pode cozinhar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-chip *ngFor="let ingredienteSelecionado of ingredientes; let index = index"> 
      <ion-label>{{ingredienteSelecionado.nome}}</ion-label>
    </ion-chip>

    <ion-card (click)="detalharReceita()">
        <ion-card-header>
          <ion-card-title>Pizza</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-row>
                <ion-col size="4">
                  <ion-img src="assets/receitas/pizza.jpg"></ion-img>
                </ion-col>   
                <ion-col>
                  Misture <b *ngFor="let ingredienteSelecionado of ingredientes">{{ingredienteSelecionado.nome}} </b>tudo numa bacia e pronto. Misture tudo numa bacia e pronto. 
                </ion-col>            
            </ion-row>
        </ion-card-content>
        <p> ver Mais...</p>


      </ion-card>
</ion-content>
