ion-header {
    ion-toolbar{
        --background: #e01515e0;
        --color: #fff;
    }
    ion-buttons{
        ion-back-button{
            color:white ;
        }
    }

}ion-chip{
     --background: white;
     --color:#FF3E3E ;
     border: 2px solid #FF3E3E;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
     .s-ion-icon{
         color:#FF3E3E ;
     }
 }

ion-card {
    border: 2px solid #FF3E3E;
}

ion-loading {
    
      --background: #ffffff url("../../assets/icon/load.gif") no-repeat center;
    
  }

ion-content {
    --background:#ffffff;
    div.selecionados{
        margin: 2px 8px 8px 8px;
    }
    ion-item{
        margin: 4px 8px;
        --border-radius: 8px;
        --box-shadow: 0.1rem 0.1rem;
    }
    ion-col{
        text-overflow: ellipsis;
        white-space: pre-wrap;
        overflow: hidden;
        width:100px;
    }

}

ion-footer {
    ion-toolbar{
        --background: #e01515e0;
        --color: #fff;
    }
}


ion-item-divider{
    --color: white;
}

