<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button  defaultHref="listaDeReceitas"></ion-back-button>
          </ion-buttons>
      <ion-title >Pizza</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-img src="././assets/receitas/pizza.jpg"></ion-img>
        </ion-card-header>

        <ion-card-content>

          Misture <b *ngFor="let ingredienteSelecionado of ingredientes">{{ingredienteSelecionado.nome}} </b>tudo numa bacia e pronto. Misture tudo numa bacia e pronto.
        </ion-card-content>
      </ion-card>

</ion-content>
