<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="listaDeReceitas"></ion-back-button>
        </ion-buttons>
    <ion-title >Pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      <ion-card-header>
          <ion-img src="assets/receitas/pizza.jpg"></ion-img>
      </ion-card-header>
    
      <ion-card-content>
          
        Misture tudo numa bacia e pronto. Misture tudo numa bacia e pronto. 
      <!-- </b> -->
        <!-- <b *ngFor="let ingredienteSelecionado of ingredientes">{{ingredienteSelecionado.nome}} -->
      </ion-card-content>
    </ion-card>

</ion-content>
