<ion-view title="Lista de Receitas" id="page2" style="background-color:#F09C63;">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="listaDeReceitas-slider2" style="width:calc(100% + 20px);height:50px;margin-left:-10px;">
      <ion-slide-page id="listaDeReceitas-slide210" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="listaDeReceitas-slide211" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="listaDeReceitas-slide212" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <ion-list id="listaDeReceitas-list4">
      <ion-item id="listaDeReceitas-list-item11">Item 1</ion-item>
      <ion-item id="listaDeReceitas-list-item12">Item 2</ion-item>
      <ion-item id="listaDeReceitas-list-item13">Item 3</ion-item>
      <div class="item item-body" id="listaDeReceitas-list-item-container1">
        <div id="listaDeReceitas-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item id="listaDeReceitas-list-item14">Item</ion-item>
    </ion-list>
    <ion-list id="listaDeReceitas-list5">
      <ion-item id="listaDeReceitas-list-item17">Item</ion-item>
    </ion-list>
    <ion-list id="listaDeReceitas-list6">
      <ion-item id="listaDeReceitas-list-item18">Item</ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <a ui-sref="selecionarIngredientes()" id="listaDeReceitas-button3" style="left:-10px;" class="button button-assertive button-full">Outros Ingredientes</a>
    </div>
  </ion-content>
</ion-view>